@import '../../styles/main.scss';

.form-selector {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: $primary-color;
}

.form-group {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  font-weight: bold;
  color: $text-primary-color;
  margin-bottom: 8px;
  white-space: nowrap;
}

.form-control {
  padding: 10px;
  font-size: $font-size-sm;
  border: $border;
  border-radius: $border-radius;
  box-sizing: border-box;
  max-width: 140px;
  background-color: $background-color;
  color: $text-primary-color;
}

input.form-control, select.form-control {
  height: 40px;
}

.amount-display {
  padding: 10px;
  font-size: $font-size-sm;
  border: $border;
  border-radius: $border-radius;
  box-sizing: border-box;
  text-align: center;
  width: 100px;
  background-color: $secondary-color;
  color: $text-primary-color;
}

.flag-icon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 50%;
  border: $border;
}

.select-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

select.form-control {
  padding-left: $padding-y;
}

select.form-control option {
  background-color: $background-color;
  color: $text-primary-color;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
